In [27]:
import oma
import pandas as pd

from importlib import reload

reload(oma.pascal)
reload(oma.pascal.pascal)

# Correct paths to relative paths

In [17]:
oma.pascal.pascal.correct_all_paths('Datasets/labels/', 'Datasets/img/')

100%|██████████| 1128/1128 [00:01<00:00, 841.45it/s]

# Get all objects

In [18]:
objects = oma.pascal.pascal.get_all_objects('Datasets/labels/')

100%|██████████| 1128/1128 [00:19<00:00, 51.43it/s]

In [19]:
objects.groupby("category")["category"].count()

category
"        1
.      621
0     2052
1      620
2      436
3      317
3$       1
4      334
5      324
6      318
7      252
8      245
9      204
Name: category, dtype: int64

In [20]:
objects.head()

,image_path,name,category,object_n,xmin,xmax,ymin,ymax
0,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,0a91306935c27a3d5b374044ce64ace9678da64e,0,0,561,678,488,648
1,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,0a91306935c27a3d5b374044ce64ace9678da64e,0,1,801,907,486,648
2,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,0a91306935c27a3d5b374044ce64ace9678da64e,1,2,1047,1153,501,659
3,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,0a91306935c27a3d5b374044ce64ace9678da64e,6,3,1257,1359,505,663
4,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,0a91306935c27a3d5b374044ce64ace9678da64e,0,4,1480,1588,501,642

# Export to FRCNN format

In [21]:
objects.head()

,image_path,name,category,object_n,xmin,xmax,ymin,ymax
0,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,0a91306935c27a3d5b374044ce64ace9678da64e,0,0,561,678,488,648
1,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,0a91306935c27a3d5b374044ce64ace9678da64e,0,1,801,907,486,648
2,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,0a91306935c27a3d5b374044ce64ace9678da64e,1,2,1047,1153,501,659
3,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,0a91306935c27a3d5b374044ce64ace9678da64e,6,3,1257,1359,505,663
4,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,0a91306935c27a3d5b374044ce64ace9678da64e,0,4,1480,1588,501,642

In [28]:
res = oma.pascal.pascal.objects_to_FRCNN(objects, "data/frcnn_df.h5", 0.2)
res = pd.read_hdf("data/frcnn_df.h5")

In [29]:
res.head()

,image_path,xmin,ymin,xmax,ymax,category,type
0,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,561,488,678,648,0,val
1,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,801,486,907,648,0,val
2,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,1047,501,1153,659,1,val
3,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,1257,505,1359,663,6,val
4,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,1480,501,1588,642,0,val

In [8]:
res.head()

,image_path,xmin,ymin,xmax,ymax,category,type
0,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,561,488,678,648,0,test
1,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,801,486,907,648,0,train
2,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,1047,501,1153,659,1,train
3,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,1257,505,1359,663,6,train
4,Datasets/img/0a91306935c27a3d5b374044ce64ace96...,1480,501,1588,642,0,train

In [36]:
len(res[res["type"] == "test"]["image_path"].unique()) + len(res[res["type"] == "train"]["image_path"].unique()) + len(res[res["type"] == "val"]["image_path"].unique())

1128

In [37]:
test_imgs = res[res["type"] == "test"]["image_path"].unique()
train_imgs = res[res["type"] == "train"]["image_path"].unique()
val_imgs = res[res["type"] == "val"]["image_path"].unique()

In [39]:
for k in test_imgs:
    if k in val_imgs:
        raise Exception("huhu")