In [1]:
import oma
import pandas as pd

from importlib import reload

reload(oma.pascal)
reload(oma.pascal.pascal)

# Correct paths to relative paths

In [4]:
oma.pascal.pascal.correct_all_paths('Datasets/labels/', 'Datasets/img/')

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 371/371 [00:00<00:00, 659.64it/s]

# Get all objects

In [5]:
objects = oma.pascal.pascal.get_all_objects('Datasets/labels/')

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 371/371 [00:04<00:00, 91.34it/s]

In [6]:
objects.groupby("category")["category"].count()

category
"      1
.    268
0    666
1    188
2    142
3    107
4    108
5    113
6     99
7     80
8     80
9     65
Name: category, dtype: int64

In [7]:
objects.head()

,image_path,name,category,object_n,xmin,xmax,ymin,ymax
0,Datasets/img/003552c62aacc898154ff3e6458b4d37d...,003552c62aacc898154ff3e6458b4d37d93a19a8.jpg,5,0,310,610,266,784
1,Datasets/img/003552c62aacc898154ff3e6458b4d37d...,003552c62aacc898154ff3e6458b4d37d93a19a8.jpg,8,1,728,1046,284,784
2,Datasets/img/003552c62aacc898154ff3e6458b4d37d...,003552c62aacc898154ff3e6458b4d37d93a19a8.jpg,.,2,1037,1137,703,793
3,Datasets/img/003552c62aacc898154ff3e6458b4d37d...,003552c62aacc898154ff3e6458b4d37d93a19a8.jpg,0,3,1155,1483,293,793
4,Datasets/img/003552c62aacc898154ff3e6458b4d37d...,003552c62aacc898154ff3e6458b4d37d93a19a8.jpg,0,4,1555,1919,293,793

# Export to OBF format

In [14]:
oma.pascal.pascal.objects_to_OBF(objects, 'img/', 'data/item_db_loreal.h5')

100%|██████████| 7613/7613 [00:39<00:00, 192.34it/s]

In [8]:
item_db = pd.read_hdf("data/item_db_loreal.h5")

In [9]:
item_db.head()

                                                 sku category
0          10741205_6038329_78146908_320x50_Product0     maky
1          9519525_5280637_76002119_SKINCARE_320x500     skfc
2  21223394_6591677_101907462_POLO_BLUE_EDP_ULTRA...     fram
3  10148853_4913309_73167473_animation-leaderboar...     maky
4           20878106_5474827_99055786_index.html_150     skfc

# Export to FRCNN format

In [9]:
objects.head()

,image_path,name,category,object_n,xmin,xmax,ymin,ymax
0,Datasets/img/003552c62aacc898154ff3e6458b4d37d...,003552c62aacc898154ff3e6458b4d37d93a19a8.jpg,5,0,310,610,266,784
1,Datasets/img/003552c62aacc898154ff3e6458b4d37d...,003552c62aacc898154ff3e6458b4d37d93a19a8.jpg,8,1,728,1046,284,784
2,Datasets/img/003552c62aacc898154ff3e6458b4d37d...,003552c62aacc898154ff3e6458b4d37d93a19a8.jpg,.,2,1037,1137,703,793
3,Datasets/img/003552c62aacc898154ff3e6458b4d37d...,003552c62aacc898154ff3e6458b4d37d93a19a8.jpg,0,3,1155,1483,293,793
4,Datasets/img/003552c62aacc898154ff3e6458b4d37d...,003552c62aacc898154ff3e6458b4d37d93a19a8.jpg,0,4,1555,1919,293,793

In [10]:
res = oma.pascal.pascal.objects_to_FRCNN(objects, "data/frcnn_df.h5", 0.2)

f:\projets\projet-loreal-oma\.venv\lib\site-packages\pandas\core\generic.py:1996: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block0_values] [items->['image_path', 'xmin', 'ymin', 'xmax', 'ymax', 'category', 'type']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [11]:
res.groupby("category").count()

          image_path  xmin  ymin  xmax  ymax  type
category
"                  1     1     1     1     1     1
.                268   268   268   268   268   268
0                666   666   666   666   666   666
1                188   188   188   188   188   188
2                142   142   142   142   142   142
3                107   107   107   107   107   107
4                108   108   108   108   108   108
5                113   113   113   113   113   113
6                 99    99    99    99    99    99
7                 80    80    80    80    80    80
8                 80    80    80    80    80    80
9                 65    65    65    65    65    65