In [1]:
import oma
import pandas as pd

from importlib import reload

reload(oma.pascal)
reload(oma.pascal.pascal)

# Correct paths to relative paths

In [2]:
oma.pascal.pascal.correct_all_paths('Datasets/labels/', 'Datasets/img/')

100%|██████████| 550/550 [00:00<00:00, 886.65it/s]

# Get all objects

In [3]:
objects = oma.pascal.pascal.get_all_objects('Datasets/labels/')

100%|██████████| 550/550 [00:08<00:00, 62.21it/s]

In [4]:
objects.groupby("category")["category"].count()

category
"      1
.    447
0    936
1    298
2    221
3    154
4    160
5    168
6    159
7    122
8    121
9     94
Name: category, dtype: int64

In [5]:
objects.head()

,image_path,name,category,object_n,xmin,xmax,ymin,ymax
0,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,bd2e1293ba838ca0fb9baf0d4a8aaa7cfda007dd.jpg,4,0,982,1129,399,617
1,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,bd2e1293ba838ca0fb9baf0d4a8aaa7cfda007dd.jpg,6,1,1138,1272,391,616
2,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,bd2e1293ba838ca0fb9baf0d4a8aaa7cfda007dd.jpg,.,2,1267,1308,566,601
3,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,bd2e1293ba838ca0fb9baf0d4a8aaa7cfda007dd.jpg,4,3,1316,1451,385,603
4,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,bd2e1293ba838ca0fb9baf0d4a8aaa7cfda007dd.jpg,5,4,1456,1606,393,604

# Export to FRCNN format

In [6]:
objects.head()

,image_path,name,category,object_n,xmin,xmax,ymin,ymax
0,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,bd2e1293ba838ca0fb9baf0d4a8aaa7cfda007dd.jpg,4,0,982,1129,399,617
1,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,bd2e1293ba838ca0fb9baf0d4a8aaa7cfda007dd.jpg,6,1,1138,1272,391,616
2,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,bd2e1293ba838ca0fb9baf0d4a8aaa7cfda007dd.jpg,.,2,1267,1308,566,601
3,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,bd2e1293ba838ca0fb9baf0d4a8aaa7cfda007dd.jpg,4,3,1316,1451,385,603
4,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,bd2e1293ba838ca0fb9baf0d4a8aaa7cfda007dd.jpg,5,4,1456,1606,393,604

In [7]:
res = oma.pascal.pascal.objects_to_FRCNN(objects, "data/frcnn_df.h5", 0.2)

/usr/local/lib/python3.5/dist-packages/pandas/core/generic.py:2378: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block0_values] [items->['image_path', 'xmin', 'ymin', 'xmax', 'ymax', 'category', 'type']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [8]:
res.groupby("category").head()

,image_path,xmin,ymin,xmax,ymax,category,type
0,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,982,399,1129,617,4,train
1,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,1138,391,1272,616,6,test
2,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,1267,566,1308,601,.,test
3,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,1316,385,1451,603,4,val
4,Datasets/img/bd2e1293ba838ca0fb9baf0d4a8aaa7cf...,1456,393,1606,604,5,val
5,Datasets/img/05417700b76f523cc74f17d86d778a527...,761,405,933,684,5,train
6,Datasets/img/05417700b76f523cc74f17d86d778a527...,1017,399,1180,682,7,train
7,Datasets/img/05417700b76f523cc74f17d86d778a527...,1156,618,1218,672,.,train
8,Datasets/img/05417700b76f523cc74f17d86d778a527...,1218,393,1421,660,0,train
9,Datasets/img/05417700b76f523cc74f17d86d778a527...,1446,388,1646,668,0,test
10,Datasets/img/19abbedea9ffeec3441c2be6c53437a07...,253,517,442,743,0,train
11,Datasets/img/19abbedea9ffeec3441c2be6c53437a07...,618,500,789,732,9,val
12,Datasets/img/19abbedea9ffeec3441c2be6c53437a07...,977,478,1140,732,8,test
13,Datasets/img/19abbedea9ffeec3441c2be6c53437a07...,1326,495,1483,733,5,test
14,Datasets/img/19abbedea9ffeec3441c2be6c53437a07...,1640,548,1813,761,8,train
15,Datasets/img/1616a5c5e8eaf83a4d251afd4a12358ee...,163,554,345,751,0,test
16,Datasets/img/1616a5c5e8eaf83a4d251afd4a12358ee...,468,549,620,736,0,val
18,Datasets/img/1616a5c5e8eaf83a4d251afd4a12358ee...,1054,549,1172,727,9,train
19,Datasets/img/1616a5c5e8eaf83a4d251afd4a12358ee...,1334,499,1457,669,6,test
20,Datasets/img/c6b10b24c45ce1cbe505f6130b14c5038...,475,88,834,703,6,val
21,Datasets/img/c6b10b24c45ce1cbe505f6130b14c5038...,916,127,1285,711,2,train
22,Datasets/img/c6b10b24c45ce1cbe505f6130b14c5038...,1232,586,1358,703,.,train
25,Datasets/img/00e22973fdbc19f1f703cdbd05a860670...,75,142,371,648,2,train
26,Datasets/img/00e22973fdbc19f1f703cdbd05a860670...,511,156,786,636,3,test
28,Datasets/img/00e22973fdbc19f1f703cdbd05a860670...,1147,560,1222,631,.,test
31,Datasets/img/07ab6d350e75821f3d46f2dc54ba7040b...,669,336,929,709,5,test
32,Datasets/img/07ab6d350e75821f3d46f2dc54ba7040b...,961,331,1223,703,2,val
33,Datasets/img/07ab6d350e75821f3d46f2dc54ba7040b...,1161,626,1250,703,.,train
38,Datasets/img/123bdeaad432925389e441ab05a980a26...,844,626,1031,906,2,train
39,Datasets/img/123bdeaad432925389e441ab05a980a26...,1240,620,1427,898,6,test
40,Datasets/img/123bdeaad432925389e441ab05a980a26...,1587,645,1785,928,3,test
41,Datasets/img/169ee15bb3b1036bee1012ec12c910489...,475,396,698,725,2,test
42,Datasets/img/169ee15bb3b1036bee1012ec12c910489...,808,414,942,728,1,train
43,Datasets/img/169ee15bb3b1036bee1012ec12c910489...,974,428,1174,736,3,train
47,Datasets/img/23f2a3ea675996ba2eb1e735047f78c01...,47,232,408,785,1,train
51,Datasets/img/23f2a3ea675996ba2eb1e735047f78c01...,1263,264,1573,759,8,test
52,Datasets/img/23f2a3ea675996ba2eb1e735047f78c01...,1629,261,1946,772,8,train
53,Datasets/img/113ece1f65928798badb811d7b8bfec5a...,192,213,558,806,4,train
54,Datasets/img/113ece1f65928798badb811d7b8bfec5a...,658,214,977,796,6,test
58,Datasets/img/0abe9f0f27e8b40691503e66f1a353a90...,164,180,560,781,3,train
59,Datasets/img/0abe9f0f27e8b40691503e66f1a353a90...,622,209,1042,777,4,val
66,Datasets/img/1821be2051a0072259da78b861bad29ba...,1305,554,1452,783,8,train
67,Datasets/img/1821be2051a0072259da78b861bad29ba...,1615,537,1755,752,7,train
68,Datasets/img/852980ab54fe5cf1039940b0e6ac33a47...,775,406,948,707,5,train
74,Datasets/img/0a0f34d1705019f3c46b7a2f480a7668a...,659,507,798,689,1,train
76,Datasets/img/0a0f34d1705019f3c46b7a2f480a7668a...,1159,511,1294,695,9,test
80,Datasets/img/177583688b265b443f655ef9cd20064f2...,698,641,827,837,3,train
83,Datasets/img/0ba418b8d5ed55d84575cd672194ebe88...,155,361,608,965,4,test
89,Datasets/img/1206fa2db464244bc1fe8f5676afc8796...,711,42,1038,621,9,train
92,Datasets/img/1206fa2db464244bc1fe8f5676afc8796...,1768,61,1994,617,1,val
93,Datasets/img/165679858cfc4cd754e71a14d0381bc94...,508,285,680,638,1,test
112,Datasets/img/185e7a2f5eba7563ae48fe1400af6a2f1...,1161,582,1335,828,7,train
113,Datasets/img/185e7a2f5eba7563ae48fe1400af6a2f1...,1516,585,1681,824,9,train
158,Datasets/img/d4b26d2b599dbad8acd3db7ce0f724275...,837,456,982,733,7,train
164,Datasets/img/fc302f8fddf7e0a77550953f36d6a5148...,1016,317,1146,549,7,val
817,Datasets/img/1d7d97a7dafe37112cb8f3304f5100826...,1287,545,1487,826,"""",train

In [10]:
res.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            2871, 2872, 2873, 2874, 2875, 2876, 2877, 2878, 2879, 2880],
           dtype='int64', length=2881)