In [1]:
import oma
import pandas as pd

from importlib import reload

reload(oma.pascal)
reload(oma.pascal.pascal)

# Correct paths to relative paths

In [2]:
oma.pascal.pascal.correct_all_paths('Datasets/labels/', 'Datasets/img/')

100%|██████████| 371/371 [00:00<00:00, 2348.56it/s]

# Get all objects

In [3]:
objects = oma.pascal.pascal.get_all_objects('Datasets/labels/')

100%|██████████| 371/371 [00:05<00:00, 67.80it/s]

In [4]:
objects.groupby("category")["category"].count()

category
"      1
.    268
0    666
1    188
2    142
3    107
4    108
5    113
6     99
7     80
8     80
9     65
Name: category, dtype: int64

In [5]:
objects.head()

,image_path,name,category,object_n,xmin,xmax,ymin,ymax
0,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg,5,0,761,933,405,684
1,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg,7,1,1017,1180,399,682
2,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg,.,2,1156,1218,618,672
3,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg,0,3,1218,1421,393,660
4,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg,0,4,1446,1646,388,668

# Export to FRCNN format

In [6]:
objects.head()

,image_path,name,category,object_n,xmin,xmax,ymin,ymax
0,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg,5,0,761,933,405,684
1,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg,7,1,1017,1180,399,682
2,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg,.,2,1156,1218,618,672
3,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg,0,3,1218,1421,393,660
4,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg,0,4,1446,1646,388,668

In [7]:
res = oma.pascal.pascal.objects_to_FRCNN(objects, "data/frcnn_df.h5", 0.2)

/usr/local/lib/python3.5/dist-packages/pandas/core/generic.py:2378: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block0_values] [items->['image_path', 'xmin', 'ymin', 'xmax', 'ymax', 'category', 'type']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [8]:
res.groupby("category").head()

,image_path,xmin,ymin,xmax,ymax,category,type
0,Datasets/img/05417700b76f523cc74f17d86d778a527...,761,405,933,684,5,test
1,Datasets/img/05417700b76f523cc74f17d86d778a527...,1017,399,1180,682,7,test
2,Datasets/img/05417700b76f523cc74f17d86d778a527...,1156,618,1218,672,.,test
3,Datasets/img/05417700b76f523cc74f17d86d778a527...,1218,393,1421,660,0,train
4,Datasets/img/05417700b76f523cc74f17d86d778a527...,1446,388,1646,668,0,test
5,Datasets/img/19abbedea9ffeec3441c2be6c53437a07...,253,517,442,743,0,train
6,Datasets/img/19abbedea9ffeec3441c2be6c53437a07...,618,500,789,732,9,test
7,Datasets/img/19abbedea9ffeec3441c2be6c53437a07...,977,478,1140,732,8,train
8,Datasets/img/19abbedea9ffeec3441c2be6c53437a07...,1326,495,1483,733,5,train
9,Datasets/img/19abbedea9ffeec3441c2be6c53437a07...,1640,548,1813,761,8,train
10,Datasets/img/1616a5c5e8eaf83a4d251afd4a12358ee...,163,554,345,751,0,train
11,Datasets/img/1616a5c5e8eaf83a4d251afd4a12358ee...,468,549,620,736,0,test
13,Datasets/img/1616a5c5e8eaf83a4d251afd4a12358ee...,1054,549,1172,727,9,test
14,Datasets/img/1616a5c5e8eaf83a4d251afd4a12358ee...,1334,499,1457,669,6,test
15,Datasets/img/00e22973fdbc19f1f703cdbd05a860670...,75,142,371,648,2,val
16,Datasets/img/00e22973fdbc19f1f703cdbd05a860670...,511,156,786,636,3,test
18,Datasets/img/00e22973fdbc19f1f703cdbd05a860670...,1147,560,1222,631,.,train
21,Datasets/img/07ab6d350e75821f3d46f2dc54ba7040b...,669,336,929,709,5,train
22,Datasets/img/07ab6d350e75821f3d46f2dc54ba7040b...,961,331,1223,703,2,val
23,Datasets/img/07ab6d350e75821f3d46f2dc54ba7040b...,1161,626,1250,703,.,train
28,Datasets/img/123bdeaad432925389e441ab05a980a26...,844,626,1031,906,2,val
29,Datasets/img/123bdeaad432925389e441ab05a980a26...,1240,620,1427,898,6,val
30,Datasets/img/123bdeaad432925389e441ab05a980a26...,1587,645,1785,928,3,train
31,Datasets/img/23f2a3ea675996ba2eb1e735047f78c01...,47,232,408,785,1,test
32,Datasets/img/23f2a3ea675996ba2eb1e735047f78c01...,458,249,793,768,2,train
34,Datasets/img/23f2a3ea675996ba2eb1e735047f78c01...,1139,672,1246,752,.,train
35,Datasets/img/23f2a3ea675996ba2eb1e735047f78c01...,1263,264,1573,759,8,train
36,Datasets/img/23f2a3ea675996ba2eb1e735047f78c01...,1629,261,1946,772,8,train
37,Datasets/img/113ece1f65928798badb811d7b8bfec5a...,192,213,558,806,4,train
38,Datasets/img/113ece1f65928798badb811d7b8bfec5a...,658,214,977,796,6,test
39,Datasets/img/113ece1f65928798badb811d7b8bfec5a...,976,657,1067,780,.,test
42,Datasets/img/0abe9f0f27e8b40691503e66f1a353a90...,164,180,560,781,3,val
43,Datasets/img/0abe9f0f27e8b40691503e66f1a353a90...,622,209,1042,777,4,val
46,Datasets/img/0abe9f0f27e8b40691503e66f1a353a90...,1531,232,1944,798,2,val
50,Datasets/img/1821be2051a0072259da78b861bad29ba...,1305,554,1452,783,8,test
51,Datasets/img/1821be2051a0072259da78b861bad29ba...,1615,537,1755,752,7,test
53,Datasets/img/0a0f34d1705019f3c46b7a2f480a7668a...,659,507,798,689,1,val
55,Datasets/img/0a0f34d1705019f3c46b7a2f480a7668a...,1159,511,1294,695,9,train
59,Datasets/img/177583688b265b443f655ef9cd20064f2...,698,641,827,837,3,train
61,Datasets/img/177583688b265b443f655ef9cd20064f2...,1190,646,1318,826,3,train
62,Datasets/img/0ba418b8d5ed55d84575cd672194ebe88...,155,361,608,965,4,train
63,Datasets/img/0ba418b8d5ed55d84575cd672194ebe88...,696,303,1085,934,4,train
68,Datasets/img/1206fa2db464244bc1fe8f5676afc8796...,711,42,1038,621,9,test
71,Datasets/img/1206fa2db464244bc1fe8f5676afc8796...,1768,61,1994,617,1,train
75,Datasets/img/11774510340de9b812ef3b2b7eda80611...,1072,585,1177,742,5,test
76,Datasets/img/11774510340de9b812ef3b2b7eda80611...,1295,613,1388,756,6,test
79,Datasets/img/185e7a2f5eba7563ae48fe1400af6a2f1...,822,561,985,802,1,train
80,Datasets/img/185e7a2f5eba7563ae48fe1400af6a2f1...,1161,582,1335,828,7,train
81,Datasets/img/185e7a2f5eba7563ae48fe1400af6a2f1...,1516,585,1681,824,9,train
82,Datasets/img/054c06bceccc4ca5fa61829020aa10d21...,614,303,743,724,1,val
84,Datasets/img/054c06bceccc4ca5fa61829020aa10d21...,1133,326,1386,753,4,train
95,Datasets/img/0e128df8d155ea0e8a55c4d017a80902f...,1224,435,1392,643,5,train
96,Datasets/img/0e128df8d155ea0e8a55c4d017a80902f...,1527,456,1665,657,6,train
130,Datasets/img/0f47805c473f7169512ec54c762e08948...,988,474,1096,673,7,train
133,Datasets/img/0f47805c473f7169512ec54c762e08948...,1314,461,1426,676,7,test
571,Datasets/img/1d7d97a7dafe37112cb8f3304f5100826...,1287,545,1487,826,"""",test

In [9]:
res.iloc[0]["image_path"]

'Datasets/img/05417700b76f523cc74f17d86d778a5273d99869.jpg'