In [1]:
import oma
import pandas as pd

from importlib import reload

reload(oma.pascal)
reload(oma.pascal.pascal)

# Correct paths to relative paths

In [2]:
oma.pascal.pascal.correct_all_paths('Datasets/labels/', 'Datasets/img/')

100%|██████████| 371/371 [00:00<00:00, 2330.19it/s]

# Get all objects

In [3]:
objects = oma.pascal.pascal.get_all_objects('Datasets/labels/')

100%|██████████| 371/371 [00:05<00:00, 64.72it/s]

In [4]:
objects.groupby("category")["category"].count()

category
"      1
.    268
0    666
1    188
2    142
3    107
4    108
5    113
6     99
7     80
8     80
9     65
Name: category, dtype: int64

In [5]:
objects.head()

,image_path,name,category,object_n,xmin,xmax,ymin,ymax
0,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg.jpg,5,0,761,933,405,684
1,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg.jpg,7,1,1017,1180,399,682
2,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg.jpg,.,2,1156,1218,618,672
3,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg.jpg,0,3,1218,1421,393,660
4,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg.jpg,0,4,1446,1646,388,668

# Export to FRCNN format

In [6]:
objects.head()

,image_path,name,category,object_n,xmin,xmax,ymin,ymax
0,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg.jpg,5,0,761,933,405,684
1,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg.jpg,7,1,1017,1180,399,682
2,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg.jpg,.,2,1156,1218,618,672
3,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg.jpg,0,3,1218,1421,393,660
4,Datasets/img/05417700b76f523cc74f17d86d778a527...,05417700b76f523cc74f17d86d778a5273d99869.jpg.jpg,0,4,1446,1646,388,668

In [7]:
res = oma.pascal.pascal.objects_to_FRCNN(objects, "data/frcnn_df.h5", 0.2)

/usr/local/lib/python3.5/dist-packages/pandas/core/generic.py:2378: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block0_values] [items->['image_path', 'xmin', 'ymin', 'xmax', 'ymax', 'category', 'type']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [8]:
res.groupby("category").count()

          image_path  xmin  ymin  xmax  ymax  type
category
"                  1     1     1     1     1     1
.                268   268   268   268   268   268
0                666   666   666   666   666   666
1                188   188   188   188   188   188
2                142   142   142   142   142   142
3                107   107   107   107   107   107
4                108   108   108   108   108   108
5                113   113   113   113   113   113
6                 99    99    99    99    99    99
7                 80    80    80    80    80    80
8                 80    80    80    80    80    80
9                 65    65    65    65    65    65